@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Pacifico&family=Roboto&family=Rubik&display=swap');
:root{
    --card-color: rgb(255, 255, 255);
    --card-title: 'Kanit', sans-serif;
    --btn-text-color: white; 
    --btn-hover-time: 0.5s;
    --card-color: rgb(255, 255, 255);
    --card-title: 'Kanit', sans-serif;
}


.main-content {
  background: linear-gradient(to top left, #0066ff 0%, #ff66cc 100%);
  height: 100vh;
  margin: -30px 0;
}
.login-card{
    background-color: var(--card-color);
    padding: 20px;
    margin-top: 150px;
    border-radius: 5px;
}
.login-title{
    font-family: var(--card-title);
    font-size: 20px;
    text-align: center;
}
.login-body label{
    padding: 10px;
}
.remember-label{
    margin: -10px;
}
.develop{
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
}
.login-btn{
    width: 100%;
    margin-top: 20px;
    background: linear-gradient(to top left, #0099ff 0%, #ff66ff 100%);
    color: var(--btn-text-color);
    border: none;
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
    transition: var(--btn-hover-time);
}
.login-btn:hover{
    background: linear-gradient(to top left, #ff66ff 0%, #0099ff 100%);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-content{
    background: linear-gradient(to bottom left, #3399ff 0%, #ff33cc 100%);
    height: 100vh;
}

.main-btns{
    padding: 25% 0;
}

.login-btn{
    padding: 10px 40px;
    border: none;
    border-radius: 2px;
}
.reg-btn{
    @extend .login-btn;
}
.btn-login{
    margin-bottom: 10px;
}
.admin-card{
    background-color: var(--card-color);
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.icon-admin{
    font-size: 50px;
}
.title-card{
    font-size: 30px;
    font-family: var(--card-title);
}
.body-card{
    font-size: 20px;
    font-family: var(--card-title);
    padding: 10px 0;
}
    
@media screen and (max-width: 620px) {
    .main-btns{
        padding: 50% 0;
    }
    .admin-card{
        padding: 20px;
    }

}